.sidebar {
  top: $navbar-height;
  width: $sidebar-width;
  height: calc(100% - #{$navbar-height});
  overflow: auto;

  .nav-link {
    background-color: #ffffff;
    color: #000;
  }
  .active {
    background-color: #cfc7c7;
    color: #000;
  }
}
