.sidebar {
  top: $navbar-height;
  width: $sidebar-width;
  height: calc(100%);
  overflow: hidden;
  background-color: #879b8c;

  .nav-link {
    color: #000;
    border-right: 1px solid #848f87;
  }
  .active {
    color: #000;
    background-color: #6b7b6f;
    border-right: 0.25rem solid #910700;
  }
}
